body{
 background-image: url("https://i.pinimg.com/originals/10/5b/18/105b18b8db617d4c02aa417cadbdae57.jpg");

 background-size: cover;
}

header {
    background-color: #000000;
    color: #ff0000;
}

main{
    background-color: #E5E5E5;
    border-width: 4px;
    border-color: #ff0000;
    border-style: solid;
}

.box1{
    background-color: #ff0000;
    border-color: #000000;
    border-style: solid;
    height: 50px;
    width: 50px;
}

.box2{
    background-image: linear-gradient(to right, #ff0000, #000);
    border-color: #000000;
    border-style: dotted;
    height: 100px;
    width: 100px;
}

.box3{
    background-image: linear-gradient(to right, #ff0000, #000);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-color: #000000;
    border-style: dashed;
    height: 100px;
    width: 500px;
}